src/main/mule/tef-vlocityretrieveorderapi-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:aggregators="http://www.mulesoft.org/schema/mule/aggregators" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/aggregators http://www.mulesoft.org/schema/mule/aggregators/current/mule-aggregators.xsd">
     <http:listener-config name="tef-vlocityretrieveorderapi-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="df628909-8ead-4cd9-a613-6f96a9b70212" />
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="9906ee55-aa77-4083-a346-97f061bda9db" />
 <configuration-properties doc:name="Configuration properties" doc:id="704fe759-1c9f-414b-bd08-19352a84c5a2" file="dev.properties" />
	<http:request-config name="HTTP_Request_configuration2" doc:name="HTTP Request configuration" doc:id="8a814598-acc6-4a27-980e-ccf2f3fb0734" />
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="9cedfacd-0d6d-4407-8d65-d9ca4939d819" >
		<salesforce:basic-connection username="${username}" password="${password}" securityToken="${accessToken}" />
	</salesforce:sfdc-config>
	<api-gateway:autodiscovery apiId="16278989" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="f2d6f1d6-d087-4e89-8cdb-377eeec9f04c" flowRef="tef-vlocityretrieveorderapi-api-main" />
	
    <apikit:config name="tef-vlocityretrieveorderapi-api-config" api="resource::2b4e4cd4-bed5-45d2-b2fb-79be1201c213:tef-vlocityretrieveorderapi-api:1.0.0:raml:zip:tef-vlocityretrieveorderapi-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="tef-vlocityretrieveorderapi-api-main">
        <http:listener config-ref="tef-vlocityretrieveorderapi-api-httpListenerConfig" path="/product-management/v1/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="tef-vlocityretrieveorderapi-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="79170484-c911-4151-98e9-f0ba6f68ea8b" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="04337bc5-25c8-4456-b795-db2e491c9b79" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="ERROR" doc:name="Logger" doc:id="747af0df-29a6-42f5-8d2f-a98e6365cb59" message="Error Message : #[payload]"/>
			</on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\users\(user_id)\orders:tef-vlocityretrieveorderapi-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="f6f64cf2-9ef3-477f-8613-3a154c60dbd4">
            <ee:message >
			</ee:message>
			<ee:variables>
                <ee:set-variable variableName="user_id"><![CDATA[attributes.uriParams.'user_id']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<logger level="INFO" doc:name="Incoming user id" doc:id="7cde6e5b-0da4-465f-9c79-73372df0672c" message="Incoming user id : #[vars.user_id]"/>
		<salesforce:query doc:name="Query" doc:id="bf713f56-73da-481f-8a8c-1258afd76581" config-ref="Salesforce_Config" target="accountOrderDetails" targetValue="#[output application/json
---
payload]">
			<salesforce:salesforce-query ><![CDATA[select Id,Status,StatusCode,CreatedDate from Order where AccountId = ':id']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	id : vars.user_id
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="8c07755c-dfd6-42cf-8ed3-8d72a401d846" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="accountDetails" ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Account Details from Vlocity" doc:id="b4a29693-0cbc-42f1-a867-9502b5310e30" message="Account Details from Vlocity : #[vars.accountOrderDetails]"/>
		<foreach doc:name="For Each" doc:id="8499fbbf-d97f-49a5-bb68-b47fd4c6d130" collection="#[vars.accountOrderDetails]">
			<salesforce:query doc:name="Query" doc:id="ad80e212-421b-40e5-8689-1636ce3a534a" config-ref="Salesforce_Config" target="status1">
				<salesforce:salesforce-query ><![CDATA[SELECT ServiceIdentifierType__c,ServiceIdentifier__c,OrderId,OrderItemNumber,ProductName__c,CreatedDate,Product2Id  FROM OrderItem WHERE OrderId = ':orderId']]></salesforce:salesforce-query>
				<salesforce:parameters ><![CDATA[#[output application/java
---
{
	orderId : payload.Id
}]]]></salesforce:parameters>
			</salesforce:query>
			<ee:transform doc:name="Transform Message" doc:id="de6c7eb5-d59e-474f-8d96-9d4937e5c2a4" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="data" ><![CDATA[%dw 2.0
output application/java
---
 {
"id": payload.Id,
"product_id": vars.status1[0].Product2Id,
"product_name":vars.status1[0].ProductName__c,
"creation_date": payload.CreatedDate,
"identifier": vars.status1..ServiceIdentifier__c,
"status": payload.StatusCode,
"type": payload.Type
} ]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<ee:transform doc:name="Transform Message" doc:id="4b080374-cbf6-403d-b614-2aeb32f94cf4" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="accountDetails" ><![CDATA[%dw 2.0
output application/java
---
vars.accountDetails + vars.data]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="939acfad-c102-471d-9828-957f0d10cb91" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.accountDetails]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Orders based on user id" doc:id="e1916dba-598a-435f-8e89-7bd1a38caddd" message="Orders based on user id :#[payload]"/>
    </flow>
    <flow name="get:\users\(user_id)\phone-numbers\(phone_number)\orders:tef-vlocityretrieveorderapi-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="86080be8-f632-4b7e-8328-bb3e85ea9d03">
            <ee:message >
			</ee:message>
			<ee:variables>
                <ee:set-variable variableName="user_id"><![CDATA[attributes.uriParams.'user_id']]></ee:set-variable>
                <ee:set-variable variableName="phone_number"><![CDATA[attributes.uriParams.'phone_number']]></ee:set-variable>
				<ee:set-variable variableName="output" ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<logger level="INFO" message='"Account ID: "    #[vars.user_id]' />
		<salesforce:query doc:name="Query" doc:id="de9e95b7-f235-492a-8569-9bfc865b8075" config-ref="Salesforce_Config" target="orderItem" targetValue="#[output application/json
---
payload]">
			<salesforce:salesforce-query><![CDATA[SELECT ServiceIdentifier__c,OrderId,OrderItemNumber,ProductName__c,CreatedDate,Product2Id  FROM OrderItem WHERE ServiceIdentifierType__c = 'PhoneNumber' and ServiceIdentifier__c = ':phone_number']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[%dw 2.0
			output application/java
---
{
	phone_number : vars.phone_number
}]]]></salesforce:parameters>
		</salesforce:query>
		<!-- <ee:transform doc:name="Transform Message" doc:id="d4b026bd-8333-4a25-8bf7-392c39cc991b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
-&#45;&#45;
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="sfResponse" ><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>  -->
		<ee:transform doc:name="Transform Message" doc:id="8b0eb74e-266a-44f1-9fca-9a9fdebd845e" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="acc" ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Order Items From Vlocity" doc:id="ad0c8b9e-2e00-4606-9df6-8c623c17caf5" message="Order Items From Vlocity : #[vars.orderItem]"/>
		<foreach doc:name="For Each" doc:id="71791cba-3d5e-4ead-bc3b-8579077a88d6" collection="#[vars.orderItem]">
			<salesforce:query doc:name="Query" doc:id="ed30e534-98af-44e3-8e25-9d5538fac3cb" config-ref="Salesforce_Config" target="status">
				<salesforce:salesforce-query ><![CDATA[SELECT Status,StatusCode,Type FROM Order  where Id = ':orderId']]></salesforce:salesforce-query>
				<salesforce:parameters ><![CDATA[#[output application/java
---
{
	orderId : payload.OrderId
}]]]></salesforce:parameters>
			</salesforce:query>
			<ee:transform doc:name="Transform Message" doc:id="5bd45201-9d1c-4b48-9e00-624105aa6202" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="data" ><![CDATA[%dw 2.0
output application/java 
---
 {
"id": payload.OrderId,
"product_id": payload.Product2Id,
"product_name":payload.ProductName__c,
"creation_date": payload.CreatedDate,
"identifier": payload.ServiceIdentifier__c,
"status": vars.status[0].StatusCode,
"type": vars.status[0].Type
} ]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<ee:transform doc:name="Transform Message" doc:id="be437564-67e1-474a-a924-0718883b999a" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="acc" ><![CDATA[%dw 2.0
output application/java
---
vars.acc + vars.data]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="c3301ecf-5dea-4556-8f71-641c413daf2f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if(!isEmpty(vars.acc))vars.acc
else {
	"Message" : "There are no Orders Associated With The Given Phone Number."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Orders based on phone numbers" doc:id="ad9655e4-27b6-43ec-bcdf-931c919d51bd" message="Orders based on phone numbers : #[payload]" />
    </flow>
    <flow name="get:\users\(user_id)\orders\(order_id):tef-vlocityretrieveorderapi-api-config">
       <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="d60c0afc-236e-4949-970d-34a854e95ae0">
            <ee:message >
			</ee:message>
			<ee:variables>
                <ee:set-variable variableName="user_id"><![CDATA[attributes.uriParams.'user_id']]></ee:set-variable>
                <ee:set-variable variableName="order_id"><![CDATA[attributes.uriParams.'order_id']]></ee:set-variable>
				<ee:set-variable variableName="phone_number_okta" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.'phone_number_okta']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3b348cd9-92db-46fc-9f86-bc1dacff383d" message="Incoming Params : #[vars.phone_number_okta]....... #[vars.user_id]........ #[vars.order_id]"/>
		<salesforce:query doc:name="Query" doc:id="d13cc6e3-ad8f-482b-a873-5e9ad3dc24ae" config-ref="Salesforce_Config" target="ordersDetails" targetValue="#[%dw 2.0
output application/json
---
payload]">
			<salesforce:salesforce-query ><![CDATA[SELECT AccountId,CreatedDate,Description,EffectiveDate,EndDate,Id,Name,OrderNumber,QuoteId,Status,StatusCode,SystemModstamp,TotalAmount,Type FROM Order where Id = ':orderName' and AccountId = ':accId']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	accId : vars.user_id,
	orderName : vars.order_id
}]]]></salesforce:parameters>
		</salesforce:query>
		<logger level="INFO" message='"Getting Order Details for User_Id" ++ #[vars.user_id] ++ "orderId:" ++  #[vars.order_id] ": " #[vars.ordersDetails]' doc:name="Getting Order Details for User_Id"/>
    <choice doc:name="Choice" doc:id="a57debb9-e36e-469d-80c5-bd5fa50dd0b5" >
			<when expression="#[!isEmpty(vars.ordersDetails)]">
				<salesforce:query doc:name="Query" doc:id="a4ee3cd9-94fe-465b-ad14-3f3ba2950cf5" config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[SELECT ServiceIdentifier__c,OrderId,OrderItemNumber,ProductName__c,CreatedDate,Product2Id  FROM OrderItem WHERE OrderId = ':orderId']]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	orderId : vars.order_id
}]]]></salesforce:parameters>
		</salesforce:query>
				<ee:transform doc:name="Set Service Identifier" doc:id="f7a70184-f55b-48ee-a10d-88b9f0c6228e">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="service_identifier" ><![CDATA[%dw 2.0
output application/json
---
(payload.ServiceIdentifier__c) reduce($)]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="17da8a3a-0a26-4bd6-a0eb-9a63198021e1" message="Service Identifier : #[vars.service_identifier]"/>
				<ee:transform doc:name="Transform Message" doc:id="e3ea5918-2c07-402e-9b6b-4bdd66afec7a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json skipNullOn = "Everywhere"
---
 if(vars.service_identifier == vars.phone_number_okta){
"id": vars.order_id,
"product_id": payload[0].Product2Id,
"product_name":payload[0].ProductName__c,
"creation_date": vars.ordersDetails[0].CreatedDate,
"identifier": vars.service_identifier,
"status": if(vars.ordersDetails[0].Status == "Draft") 'Pending' else if (vars.ordersDetails[0].StatusCode == "Status") 'Confirmed' else 'Rejected',
"type": "Purchase"
} 
else {
	Message : "The order contact number and user contact number do not match"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<logger level="INFO" doc:name="Response From Salesforce" doc:id="bf1d7d78-96fb-40cc-9e97-4dbeecb99ebc" message="Response From Salesforce : #[payload]" />
				<ee:transform doc:name="Transform Message" doc:id="e12098cb-a5dd-4d55-b798-99714aaf9010">
				<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json 
---
 if (!isEmpty(payload))
payload
else 
{
	"Message" : "There are no Orders Associated with The given Order_id  "++ vars.order_id
}]]></ee:set-payload>
				</ee:message>
				<ee:variables>
				</ee:variables>
			</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="cb0443b7-3145-4336-8825-2712a7f8f52a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Message: "There are no Orders associated with this user"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Orders based on order_id" doc:id="960f534c-549d-4004-a153-97b263af1bdc" message="Orders based on order_id:: #[payload]"/>
    </flow>
</mule>
